PORT=8005
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/lms_db?schema=notification"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="notifications@lms.com"
SMTP_PASS="secret-pass"
