PORT=8001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/lms_db?schema=auth"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
JWT_ACCESS_SECRET="super-secret-jwt-key"
JWT_REFRESH_SECRET="super-secret-refresh-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
